!.gitignore
!.gitattributes

*.tmp
*.bak
*.log
*.swp
*.cab
*.msi
*.msm
*.msp
*.lnk
*.zip
*.ini
*.temp
*~.nib
*.json

*~
._*
bin/
tmp/
.svn/
.idea/
.vscode/
.DS_Store
.directory
.Trash-*
.Trashes
.apdisk
.gradle
.project
*.launch
.metadata
.loadpath
.fseventsd
.settings/
.LSOverride
.AppleDouble
.AppleDB
.AppleDesktop
Thumbs.db
ehthumbs.db
Desktop.ini
.Spotlight-V100
.TemporaryItems
*.pydevproject
local.properties
$RECYCLE.BIN/
Temporary Items
.VolumeIcon.icns
Network Trash Folder
.externalToolBuilders/
.DocumentRevisions-V100

cfg/env.pre.php
cfg/env.pro.php
var/log/*
var/run/*
!var/log/index.html
!var/run/index.html